# Primera entrega ML

### Título de proyecto

# "Predicción ejercicio físico por pacientes para el control de la diabetes"

### Tema

"El objetivo de este proyecto es desarrollar un modelo de machine learning capaz de predecir la edad de los encuestados utilizando un subconjunto de características extraídas del amplio conjunto de datos de la Encuesta Nacional de Salud y Nutrición (NHANES). La NHANES, administrada por los Centros para el Control y la Prevención de Enfermedades (CDC), recopila información detallada sobre la salud y nutrición de una muestra representativa de la población estadounidense."

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [2]:
tipo_ml = "Supervisado"
target_descr = "y(target: Si realiza actividad física)"
metricas = ["AdaBoost, Random Forest, XGBoost, Voting Classifier, Decision Tree, K-Nearest Neighbors"] # Metricas escogidas para evaluar los modelos

In [3]:
# dasets y enlaces de datasets en Markdown
enlaces = ["https://wwwn.cdc.gov/nchs/nhanes/search/DataPage.aspx?Component=Questionnaire&CycleBeginYear=2013"]

In [4]:
# load dataset
 
import pandas as pd

df = pd.read_csv(r"data\NHANES_age_prediction.csv")
df

# df_1.head()

,SEQN,age_group,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN
0,73564.0,Adult,61.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91
1,73568.0,Adult,26.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85
2,73576.0,Adult,16.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14
3,73577.0,Adult,32.0,1.0,2.0,28.9,104.0,2.0,84.0,16.15
4,73580.0,Adult,38.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92
...,...,...,...,...,...,...,...,...,...,...
2273,83711.0,Adult,38.0,2.0,2.0,33.5,100.0,2.0,73.0,6.53
2274,83712.0,Adult,61.0,1.0,2.0,30.0,93.0,2.0,208.0,13.02
2275,83713.0,Adult,34.0,1.0,2.0,23.7,103.0,2.0,124.0,21.41
2276,83718.0,Adult,60.0,2.0,2.0,27.4,90.0,2.0,108.0,4.99
2277,83727.0,Adult,26.0,1.0,2.0,24.5,108.0,2.0,108.0,3.76

In [5]:
df.shape

(2278, 10)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SEQN       2278 non-null   float64
 1   age_group  2278 non-null   object
 2   RIDAGEYR   2278 non-null   float64
 3   RIAGENDR   2278 non-null   float64
 4   PAQ605     2278 non-null   float64
 5   BMXBMI     2278 non-null   float64
 6   LBXGLU     2278 non-null   float64
 7   DIQ010     2278 non-null   float64
 8   LBXGLT     2278 non-null   float64
 9   LBXIN      2278 non-null   float64
dtypes: float64(9), object(1)
memory usage: 178.1+ KB

In [ ]:
# load dataset
# df_2.head()